@import "../../design-system/styles.scss";

.sponsor-modes {
  margin: 16px;
  max-width: 390px;
  border: 1px solid $color-gray-4;
  border-radius: 7px;
  padding: 32px 8px;
  justify-content: center;
  width: 300px;
  background-color: $white;

  &:hover {
    border: 1px solid $color-gray-6;
  }

  &__type {
    font-size: 20px;
    margin: 0;
    color: $dark-blue;
    font-weight: bold;
    text-align: center;
  }

  &__price {
    font-size: 32px;
    margin: 20px 0 0;
    color: $dark-blue;
    font-weight: bold;
    text-align: center;
  }

  &__frequency {
    margin: 0;
    color: $color-gray-6;
    font-weight: bold;
    text-align: center;
  }

  &__description {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    margin: 20px 0 20px 0;
    display: flex;
    flex-wrap: wrap;
    min-height: 200px;
    text-align: center;
    justify-content: center;
    word-break: break-all;
  }

  &__select {
    display: flex;
    flex-direction: row;
    justify-content: center;

    button {
      color: $white;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      width: 50%;
      height: 40px;
      border: 0;
      border-radius: 5px;
      outline: none;
    }
    &-edit {
      background-color: $color-approve;

      &:hover {
        background-color: $color-approve-hover;
      }
    }

    &-delete {
      background-color: $color-reject;

      &:hover {
        background-color: $color-reject-hover;
      }
    }
  }
}
