.Carousel {
  overflow: scroll;
  width: 100%;
  position: relative;
  margin: 40px 0;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #757575;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }

  &__container {
    transition: 450ms -webkit-transform;
    transition: 450ms transform;
    transition: 450ms transform, 450ms -webkit-transform;
    font-size: 0;
    white-space: nowrap;
    margin: 5px 0px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
  }
}
