@import '../../design-system/styles.scss';

.EventCardUser {
	display: grid;
	grid-template-columns: 25vw 35vw 10vw;
	margin-bottom: 20px;
	border: 1.2px solid $color-gray-3;
	border-radius: 10px;
	background-color: $color-gray-1;

	&:hover {
		// background-color: $color-gray-2;
		border: 1.2px solid $color-gray-5;
		cursor: pointer;
	}

	&__img {
		display: grid;
		grid-column: 1;
		align-items: center;

		&-item {
			width: 100%;
			border-radius: 10px;
		}
	}

	&__data {
		grid-column: 2;
		padding: 30px 20px;
		font-family: $roboto;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;

		&-title {
			font-size: 20px;
			color: $dark-blue;
			font-weight: 700;
		}

		&-datePlace {
			font-size: 16px;
			color: $strong-yellow;
			font-weight: 600;
		}

		&-description {
			font-size: 18px;
			color: $color-gray-7;
		}
	}

	&__select {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 15px 10px 15px 0;

		button {
			color: $white;
			font-size: 16px;
			font-weight: bold;
			cursor: pointer;
			width: 100%;
			height: 40px;
			border: 0;
			border-radius: 5px;
			outline: none;
		}
		&-edit {
			background-color: $color-approve;

			&:hover {
				background-color: $color-approve-hover;
			}
		}

		&-delete {
			background-color: $color-reject;

			&:hover {
				background-color: $color-reject-hover;
			}
		}
	}
}

@media only screen and (max-width: 480px) {
	.EventCardUser {
		grid-template-columns: 1fr;
		grid-template-rows: auto 10vh 10vh;
		border-color: $color-gray-5;

		&__img {
			grid-row: 1;
			grid-column: 1;
		}

		&__data {
			grid-row: 2;
			grid-column: 1;
		}

		&__select {
			grid-row: 3;
			grid-column: 1;
			flex-direction: row;
			align-items: flex-end;
			padding: 20px 10px;

			button {
				width: 90%;
			}
		}
	}
}

@media only screen and (max-width: 740px) and (orientation: landscape) {
	.EventCardUser {
		grid-template-columns: auto 42vw 18vw;
	}
}
