@import "../../design-system/styles.scss";

.EventCard {
  margin-left: 15px;
  width: 300px;
  border-radius: 10px;
  border: solid 1px $color-gray-4;
  background-color: $color-gray-1;
  margin-bottom: 20px;

  &__img {
    width: 100%;
    height: 180px;
    border-radius: 10px 10px 0 0;
  }

  &__data {
    margin-bottom: 5px;
    padding-left: 10px;

    &-title {
      font-size: 20px;
      font-weight: bold;
      color: #031e30;
    }

    &-date {
      font-size: 17px;
      font-weight: bold;
      color: #ee9e26;
    }

    &-user {
      font-size: 17px;
      color: #000;
    }
  }
}
.event-container div {
  width: 100%;
}

@media only screen and (max-width: 480px) {
  .EventCard {
    // width: 50vw;
    margin-left: 0;
    margin-bottom: 20px;
  }
}
