@import "../../design-system/styles.scss";

.Footer {
  height: 60px;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  background-color: $dark-blue;
  position: relative;
  bottom: 0;

  &__terms {
    color: $color-gray-1;
    padding: 0 50px;
  }
}

@media only screen and (max-width: 480px) {
  .Footer {
    margin-bottom: 60px;
  }
}
@media only screen and (max-width: 740px) and (orientation: landscape) {
  .Footer {
    margin-bottom: 60px;
  }
}
