@import "../../design-system/styles.scss";

.NavbarMobile {
  display: none;
  height: 60px;
  // padding: 0 20px;
  background-color: $white;
  color: $dark-blue;
  bottom: 0;
  width: 100vw;
  box-shadow: 0px 7px 20px 0px black;
  color: $dark-blue;
  font-size: 24px;
  text-decoration: none;
  outline: none;

  &__options {
    &-item {
      color: $dark-blue;
    }
    &-text {
      color: $dark-blue;
      font-size: 18px;
      font-weight: 900;
    }
  }
}

// Responsive
@media only screen and (max-width: 480px) {
  .NavbarMobile {
    position: fixed;
    display: flex;
    justify-content: center;
    // bottom: 0;

    &__options {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 100vw;
    }
  }
}
@media only screen and (max-width: 740px) and (orientation: landscape) {
  .NavbarMobile {
    position: fixed;
    display: flex;
    justify-content: center;
    // bottom: 0;

    &__options {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 85vw;
    }
  }
}
