@import "../../design-system/styles.scss";

header {
  position: fixed;
  width: 100%;
  top: 0;
}

.Header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  min-height: 60px;
  padding: 0 50px;
  background-color: $dark-blue;
  font-family: $roboto;
  color: $white;
  top: 0;
  z-index: 100;
  // position: relative;

  &__logo {
    @include logo($strong-yellow, $white);
  }

  &__options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: $size-menu-text;

    &-item {
      padding-left: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      height: 100%;
      width: 90px;

      &-icon {
        padding-right: 5px;
      }

      &-text {
        text-decoration: none;
        color: $white;
        height: 40px;
        width: 80px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          border: 1px solid $white;
          border-radius: 10px;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  header {
    position: unset;
  }
  .Header__options {
    display: none;
  }
}
@media (max-width: 740px) and (orientation: landscape) {
  header {
    position: unset;
  }
  .Header__options {
    display: none;
  }
}
