@import "../../design-system/styles.scss";

.NewEventForm {
  color: $dark-blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 60px;
  min-height: calc(100vh - 60px);

  &__title {
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 20px;
    margin-top: 80px;
    text-align: center;
  }

  &__form {
    margin-bottom: 60px;
    // width: 70vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-template-rows: repeat(9);

    .img-container {
      margin-top: 20px;
      grid-template-rows: repeat(3, auto);
      grid-template-columns: auto;
      grid-column: 2;
      grid-row: 1 / span 4;
      display: flex;
      justify-content: space-between;
      min-height: 280px;
      border: $color-gray-5 1.5px solid;
      border-radius: 10px;
      padding: 15px;

      label {
        text-align: center;
      }

      button {
        color: $white;
        background-color: $color-approve;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        width: 100%;
        height: 40px;
        border: 0;
        border-radius: 5px;
        outline: none;
        grid-column: 1 / span 2;

        &:hover {
          background-color: $color-approve-hover;
        }
      }
    }

    .description-newevent {
      grid-column: 1 / span 2;
    }

    .attendees-newevent {
      grid-column: 1;
      grid-row: 6;
    }

    .category-newevent {
      grid-column: 1;
      grid-row: 7;
    }

    .topics-newevent {
      grid-column: 2;
      grid-row: 6;
    }

    .levels-newevent {
      grid-column: 2;
      grid-row: 7;
    }

    &-item {
      grid-column: 1;
      // grid-row-start: 1;
      // grid-row-end: 8;
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      label {
        margin-bottom: 7px;
        font-weight: bold;
        color: $dark-blue;
        opacity: 0.9;
      }

      input {
        height: 30px;
        border: 1.5px solid rgb(204, 204, 204);
        border-radius: 10px;
        padding: 0 10px;
        outline: none;
        font-size: 16px;
        color: grey;

        &:focus {
          color: black;
          border: $dark-blue 1.5px solid;
        }
      }

      textarea {
        font-family: $roboto;
        border: 1.5px solid rgb(204, 204, 204);
        border-radius: 10px;
        padding: 5px 10px;
        outline: none;
        font-size: 16px;
      }

      select {
        font-family: $roboto;
        border: 1.5px solid rgb(204, 204, 204);
        border-radius: 10px;
        padding: 5px 10px;
        outline: none;
        font-size: 16px;
      }
    }

    &-submit {
      color: $white;
      background-color: $strong-yellow;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      width: 100%;
      height: 50px;
      border: 0;
      border-radius: 5px;
      outline: none;
      grid-column: 1 / span 2;
      margin-top: 30px;

      &:hover {
        background-color: #faa525;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .NewEventForm {
    &__form {
      display: grid;
      grid-template-columns: 80vw;
      grid-template-rows: repeat(11, auto);
      flex-direction: column;
      width: 80vw;

      .img-container {
        grid-column: 1;
        grid-row: 10;
        display: flex;
      }

      .description-newevent {
        grid-column: 1;
      }

      .topics-newevent {
        grid-column: 1;
        grid-row: 8;
      }

      .levels-newevent {
        grid-column: 1;
        grid-row: 9;
      }

      &-item {
        grid-column: 1;
      }

      &-submit {
        grid-column: 1;
      }
    }
  }
}

@media only screen and (max-width: 740px) and (orientation: landscape) {
  .NewEventForm {
    // width: 740px;

    &__form {
      display: grid;
      grid-template-columns: 80vw;
      grid-template-rows: repeat(11, auto);
      // flex-direction: column;
      // width: 50vw;

      .img-container {
        grid-column: 1;
        grid-row: 10;
        display: grid;
      }

      .description-newevent {
        grid-column: 1;
      }

      .topics-newevent {
        grid-column: 1;
        grid-row: 8;
      }

      .levels-newevent {
        grid-column: 1;
        grid-row: 9;
      }

      &-item {
        grid-column: 1;
      }

      &-submit {
        grid-column: 1;
      }
    }
  }
}
