@import "../../design-system/styles.scss";

.NewSponsorForm {
  color: $dark-blue;

  &__title {
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 20px;
  }

  &__form {
    &-item {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      label {
        margin-bottom: 7px;
        font-weight: bold;
        color: $dark-blue;
        opacity: 0.9;
      }

      input {
        height: 30px;
        border: 1.5px solid rgb(204, 204, 204);
        border-radius: 10px;
        padding: 0 10px;
        outline: none;
        font-size: 16px;
        color: grey;

        &:focus {
          color: black;
          border: $dark-blue 1.5px solid;
        }
      }

      textarea {
        font-family: $roboto;
        border: 1.5px solid rgb(204, 204, 204);
        border-radius: 10px;
        padding: 5px 10px;
        outline: none;
        font-size: 16px;
        color: grey;
      }
    }

    &-submit {
      color: $white;
      background-color: $strong-yellow;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      width: 100%;
      height: 50px;
      border: 0;
      border-radius: 5px;
      outline: none;

      &:hover {
        background-color: #faa525;
      }
    }
  }
}
