@import "../../design-system/styles.scss";

.OpenEventCard {
  background-color: $white;
  width: 60vw;
  // min-height: calc(100vh - 60px);
  margin-top: 120px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  z-index: -5;
  border: solid 1.5px $color-gray-5;
  // margin-bottom: 20px;
  border-radius: 20px;
  background-color: $color-gray-1;

  &__img {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    img {
      border-radius: 20px 20px 0 0;
      width: 100%;
    }
  }

  &__info {
    color: $color-gray-7;
    padding: 0 20px;

    &-title {
      color: $dark-blue;
      text-align: center;
      margin-bottom: 20px;
      // font-size: 24px;
    }

    &-topic {
      font-size: 16px;
      margin-bottom: 20px;
      background-color: $color-gray-3;
      width: 200px;
      margin: 5px 0 20px 0;
      border-radius: 10px;
      text-align: center;
      color: $dark-blue;
      font-weight: 600;
    }

    &-category {
      margin-bottom: 20px;
      font-size: 18px;
    }

    &-item {
      margin-bottom: 10px;
      display: flex;
      flex-direction: row;
      font-size: 18px;
      // justify-content: space-between;
      // grid-gap: 20px;
    }

    &-details {
      margin-bottom: 50px;
      padding: 0 20px;

      &-title {
        margin-bottom: 50px;
      }
      label {
        color: $dark-blue;
        font-size: 22px;
        font-weight: 700;
      }
    }
  }

  &__levels {
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    &-title {
      font-size: 24px;
      font-weight: 900;
      color: $dark-blue;
      margin-bottom: 20px;
    }
    // label {
    // }

    &-models {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
  }
}

@media only screen and (max-width: 480px) {
  .OpenEventCard {
    width: 95vw;
    margin-top: 40px;
  }
}

@media only screen and (max-width: 740px) {
  .OpenEventCard {
    width: 90vw;
    margin-top: 40px;
  }
}
