.SearchBar {
  width: 100%;
  display: flex;
  justify-content: center;
  // position: relative;
  // z-index: 1;

  &__container {
    border-radius: 100px;
    border: solid 1px #dfe1e5;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    // z-index: -9;

    &:hover {
      box-shadow: 0 1px 6px 0 #20212447;
      border-color: #dfe1e500;
    }

    &-input {
      width: 90%;
      height: 40px;
      border: none;
      outline: none;
    }

    &-icon {
      background-image: url("https://cdn0.iconfinder.com/data/icons/google-material-design-3-0/48/ic_search_48px-512.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      opacity: 0.45;
      width: 18px;
      height: 18px;
      object-fit: cover;
    }
  }
}

@media only screen and (max-width: 480px) {
  .SearchBar {
    &__container {
      width: 90vw;
      &-input {
        max-width: 75%;
      }
    }
  }
}
