@import "../../design-system/styles.scss";

.ProfileForm {
  display: flex;
  justify-content: center;
  width: 80vw;
  margin: 80px 0 60px 0;
  min-height: calc(100vh - 60px);

  &__form {
    width: 80%;

    &-title {
      font-size: 24px;
      font-weight: 900;
      color: $dark-blue;
      margin-bottom: 30px;
      text-align: center;
    }

    &-img {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      // height: 250px;
      justify-content: center;
      align-items: center;

      label {
        margin-bottom: 7px;
        font-weight: bold;
        color: $dark-blue;
        opacity: 0.9;
      }

      &-avatar {
        width: 250px;
        border-radius: 50%;
      }

      &-btn {
        color: $white;
        background-color: $color-approve;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        width: 50%;
        height: 40px;
        border: 0;
        border-radius: 5px;
        outline: none;
        grid-column: 1 / span 2;
        margin-top: 20px;

        &:hover {
          background-color: $color-approve-hover;
        }
      }
    }

    &-item {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      label {
        margin-bottom: 7px;
        font-weight: bold;
        color: $dark-blue;
        opacity: 0.9;
      }

      input {
        height: 30px;
        border: 1.5px solid rgb(204, 204, 204);
        border-radius: 10px;
        padding: 0 10px;
        outline: none;
        font-size: 16px;
        color: grey;

        &:focus {
          color: black;
          border: $dark-blue 1.5px solid;
        }
      }

      textarea {
        font-family: $roboto;
        border: 1.5px solid rgb(204, 204, 204);
        border-radius: 10px;
        padding: 5px 10px;
        outline: none;
        font-size: 16px;
        color: grey;

        &:focus {
          color: black;
          border: $dark-blue 1.5px solid;
        }
      }
    }

    &-submit {
      color: $white;
      background-color: $strong-yellow;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      width: 100%;
      height: 50px;
      border: 0;
      border-radius: 5px;
      outline: none;

      &:hover {
        background-color: #faa525;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .Profile {
    width: 100vw;
  }
}

@media only screen and (max-width: 740px) and (orientation: landscape) {
  .Profile {
    width: 100vw;
  }
}
