@import "../../design-system/styles.scss";

.UserNavBar {
  display: grid;
  padding-top: 60px;
  grid-template-columns: repeat(3, 1fr);
  height: 50px;
  width: 100vw;

  &__option {
    border: rgb(180, 180, 180) 1px solid;
    height: 50px;
    justify-content: center;
    cursor: pointer;
    color: #757575;

    &:hover {
      background-color: rgb(215, 216, 226);
    }

    // &-active {
    //   background-color: blue;
    // }
  }
}
