@import "../../../design-system/styles.scss";

.CategoriesNew {
  color: $dark-blue;
  width: 100vw;
  min-height: calc(100vh - 60px);
  top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__title {
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 20px;
  }

  &__form {
    width: 50vw;

    &-item {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      label {
        margin-bottom: 7px;
        font-weight: bold;
        color: $dark-blue;
        opacity: 0.9;
      }

      input {
        height: 30px;
        border: 1.5px solid rgb(204, 204, 204);
        border-radius: 10px;
        padding: 0 10px;
        outline: none;
        font-size: 16px;
        color: grey;
        margin-bottom: 20px;

        &:focus {
          color: black;
          border: $dark-blue 1.5px solid;
        }
      }
    }

    &-submit {
      color: $white;
      background-color: $strong-yellow;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      width: 100%;
      height: 50px;
      border: 0;
      border-radius: 5px;
      outline: none;

      &:hover {
        background-color: #faa525;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .CategoriesNew {
    margin-top: -60px;
    min-height: calc(100vh - 60px);

    &__form {
      width: 80vw;
    }
  }
}

@media only screen and (max-width: 740px) and (orientation: landscape) {
  .CategoriesNew {
    min-height: calc(100vh - 60px);

    &__form {
      width: 80vw;

      &-item {
        margin-bottom: 0;
      }
    }
  }
}
