@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?b0vnee');
  src:  url('icomoon.eot?b0vnee#iefix') format('embedded-opentype'),
    url('icomoon.ttf?b0vnee') format('truetype'),
    url('icomoon.woff?b0vnee') format('woff'),
    url('icomoon.svg?b0vnee#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-times:before {
  content: "\e900";
}
.icon-tick:before {
  content: "\e901";
}
.icon-plus:before {
  content: "\e902";
}
.icon-minus:before {
  content: "\e903";
}
.icon-equals:before {
  content: "\e904";
}
.icon-divide:before {
  content: "\e905";
}
.icon-chevron-right:before {
  content: "\e906";
}
.icon-chevron-left:before {
  content: "\e907";
}
.icon-arrow-right-thick:before {
  content: "\e908";
}
.icon-arrow-left-thick:before {
  content: "\e909";
}
.icon-th-small:before {
  content: "\e90a";
}
.icon-th-menu:before {
  content: "\e90b";
}
.icon-th-list:before {
  content: "\e90c";
}
.icon-th-large:before {
  content: "\e90d";
}
.icon-home:before {
  content: "\e90e";
}
.icon-arrow-forward:before {
  content: "\e90f";
}
.icon-arrow-back:before {
  content: "\e910";
}
.icon-rss:before {
  content: "\e911";
}
.icon-location:before {
  content: "\e912";
}
.icon-link:before {
  content: "\e913";
}
.icon-image:before {
  content: "\e914";
}
.icon-arrow-up-thick:before {
  content: "\e915";
}
.icon-arrow-down-thick:before {
  content: "\e916";
}
.icon-starburst:before {
  content: "\e917";
}
.icon-starburst-outline:before {
  content: "\e918";
}
.icon-star:before {
  content: "\e919";
}
.icon-flow-children:before {
  content: "\e91a";
}
.icon-export:before {
  content: "\e91b";
}
.icon-delete:before {
  content: "\e91c";
}
.icon-delete-outline:before {
  content: "\e91d";
}
.icon-cloud-storage:before {
  content: "\e91e";
}
.icon-wi-fi:before {
  content: "\e91f";
}
.icon-heart:before {
  content: "\e920";
}
.icon-flash:before {
  content: "\e921";
}
.icon-cancel:before {
  content: "\e922";
}
.icon-backspace:before {
  content: "\e923";
}
.icon-attachment:before {
  content: "\e924";
}
.icon-arrow-move:before {
  content: "\e925";
}
.icon-warning:before {
  content: "\e926";
}
.icon-user:before {
  content: "\e927";
}
.icon-radar:before {
  content: "\e928";
}
.icon-lock-open:before {
  content: "\e929";
}
.icon-lock-closed:before {
  content: "\e92a";
}
.icon-location-arrow:before {
  content: "\e92b";
}
.icon-info:before {
  content: "\e92c";
}
.icon-user-delete:before {
  content: "\e92d";
}
.icon-user-add:before {
  content: "\e92e";
}
.icon-media-pause:before {
  content: "\e92f";
}
.icon-group:before {
  content: "\e930";
}
.icon-chart-pie:before {
  content: "\e931";
}
.icon-chart-line:before {
  content: "\e932";
}
.icon-chart-bar:before {
  content: "\e933";
}
.icon-chart-area:before {
  content: "\e934";
}
.icon-video:before {
  content: "\e935";
}
.icon-point-of-interest:before {
  content: "\e936";
}
.icon-infinity:before {
  content: "\e937";
}
.icon-globe:before {
  content: "\e938";
}
.icon-eye:before {
  content: "\e939";
}
.icon-cog:before {
  content: "\e93a";
}
.icon-camera:before {
  content: "\e93b";
}
.icon-upload:before {
  content: "\e93c";
}
.icon-scissors:before {
  content: "\e93d";
}
.icon-refresh:before {
  content: "\e93e";
}
.icon-pin:before {
  content: "\e93f";
}
.icon-key:before {
  content: "\e940";
}
.icon-info-large:before {
  content: "\e941";
}
.icon-eject:before {
  content: "\e942";
}
.icon-download:before {
  content: "\e943";
}
.icon-zoom:before {
  content: "\e944";
}
.icon-zoom-out:before {
  content: "\e945";
}
.icon-zoom-in:before {
  content: "\e946";
}
.icon-sort-numerically:before {
  content: "\e947";
}
.icon-sort-alphabetically:before {
  content: "\e948";
}
.icon-input-checked:before {
  content: "\e949";
}
.icon-calender:before {
  content: "\e94a";
}
.icon-world:before {
  content: "\e94b";
}
.icon-notes:before {
  content: "\e94c";
}
.icon-code:before {
  content: "\e94d";
}
.icon-arrow-sync:before {
  content: "\e94e";
}
.icon-arrow-shuffle:before {
  content: "\e94f";
}
.icon-arrow-repeat:before {
  content: "\e950";
}
.icon-arrow-minimise:before {
  content: "\e951";
}
.icon-arrow-maximise:before {
  content: "\e952";
}
.icon-arrow-loop:before {
  content: "\e953";
}
.icon-anchor:before {
  content: "\e954";
}
.icon-spanner:before {
  content: "\e955";
}
.icon-puzzle:before {
  content: "\e956";
}
.icon-power:before {
  content: "\e957";
}
.icon-plane:before {
  content: "\e958";
}
.icon-pi:before {
  content: "\e959";
}
.icon-phone:before {
  content: "\e95a";
}
.icon-microphone:before {
  content: "\e95b";
}
.icon-media-rewind:before {
  content: "\e95c";
}
.icon-flag:before {
  content: "\e95d";
}
.icon-adjust-brightness:before {
  content: "\e95e";
}
.icon-waves:before {
  content: "\e95f";
}
.icon-social-twitter:before {
  content: "\e960";
}
.icon-social-facebook:before {
  content: "\e961";
}
.icon-social-dribbble:before {
  content: "\e962";
}
.icon-media-stop:before {
  content: "\e963";
}
.icon-media-record:before {
  content: "\e964";
}
.icon-media-play:before {
  content: "\e965";
}
.icon-media-fast-forward:before {
  content: "\e966";
}
.icon-media-eject:before {
  content: "\e967";
}
.icon-social-vimeo:before {
  content: "\e968";
}
.icon-social-tumbler:before {
  content: "\e969";
}
.icon-social-skype:before {
  content: "\e96a";
}
.icon-social-pinterest:before {
  content: "\e96b";
}
.icon-social-linkedin:before {
  content: "\e96c";
}
.icon-social-last-fm:before {
  content: "\e96d";
}
.icon-social-github:before {
  content: "\e96e";
}
.icon-social-flickr:before {
  content: "\e96f";
}
.icon-at:before {
  content: "\e970";
}
.icon-times-outline:before {
  content: "\e971";
}
.icon-plus-outline:before {
  content: "\e972";
}
.icon-minus-outline:before {
  content: "\e973";
}
.icon-tick-outline:before {
  content: "\e974";
}
.icon-th-large-outline:before {
  content: "\e975";
}
.icon-equals-outline:before {
  content: "\e976";
}
.icon-divide-outline:before {
  content: "\e977";
}
.icon-chevron-right-outline:before {
  content: "\e978";
}
.icon-chevron-left-outline:before {
  content: "\e979";
}
.icon-arrow-right-outline:before {
  content: "\e97a";
}
.icon-arrow-left-outline:before {
  content: "\e97b";
}
.icon-th-small-outline:before {
  content: "\e97c";
}
.icon-th-menu-outline:before {
  content: "\e97d";
}
.icon-th-list-outline:before {
  content: "\e97e";
}
.icon-news:before {
  content: "\e97f";
}
.icon-home-outline:before {
  content: "\e980";
}
.icon-arrow-up-outline:before {
  content: "\e981";
}
.icon-arrow-forward-outline:before {
  content: "\e982";
}
.icon-arrow-down-outline:before {
  content: "\e983";
}
.icon-arrow-back-outline:before {
  content: "\e984";
}
.icon-trash:before {
  content: "\e985";
}
.icon-rss-outline:before {
  content: "\e986";
}
.icon-message:before {
  content: "\e987";
}
.icon-location-outline:before {
  content: "\e988";
}
.icon-link-outline:before {
  content: "\e989";
}
.icon-image-outline:before {
  content: "\e98a";
}
.icon-export-outline:before {
  content: "\e98b";
}
.icon-cross:before {
  content: "\e98c";
}
.icon-wi-fi-outline:before {
  content: "\e98d";
}
.icon-star-outline:before {
  content: "\e98e";
}
.icon-media-pause-outline:before {
  content: "\e98f";
}
.icon-mail:before {
  content: "\e990";
}
.icon-heart-outline:before {
  content: "\e991";
}
.icon-flash-outline:before {
  content: "\e992";
}
.icon-cancel-outline:before {
  content: "\e993";
}
.icon-beaker:before {
  content: "\e994";
}
.icon-arrow-move-outline:before {
  content: "\e995";
}
.icon-watch:before {
  content: "\e996";
}
.icon-warning-outline:before {
  content: "\e997";
}
.icon-time:before {
  content: "\e998";
}
.icon-radar-outline:before {
  content: "\e999";
}
.icon-lock-open-outline:before {
  content: "\e99a";
}
.icon-location-arrow-outline:before {
  content: "\e99b";
}
.icon-info-outline:before {
  content: "\e99c";
}
.icon-backspace-outline:before {
  content: "\e99d";
}
.icon-attachment-outline:before {
  content: "\e99e";
}
.icon-user-outline:before {
  content: "\e99f";
}
.icon-user-delete-outline:before {
  content: "\e9a0";
}
.icon-user-add-outline:before {
  content: "\e9a1";
}
.icon-lock-closed-outline:before {
  content: "\e9a2";
}
.icon-group-outline:before {
  content: "\e9a3";
}
.icon-chart-pie-outline:before {
  content: "\e9a4";
}
.icon-chart-line-outline:before {
  content: "\e9a5";
}
.icon-chart-bar-outline:before {
  content: "\e9a6";
}
.icon-chart-area-outline:before {
  content: "\e9a7";
}
.icon-video-outline:before {
  content: "\e9a8";
}
.icon-point-of-interest-outline:before {
  content: "\e9a9";
}
.icon-map:before {
  content: "\e9aa";
}
.icon-key-outline:before {
  content: "\e9ab";
}
.icon-infinity-outline:before {
  content: "\e9ac";
}
.icon-globe-outline:before {
  content: "\e9ad";
}
.icon-eye-outline:before {
  content: "\e9ae";
}
.icon-cog-outline:before {
  content: "\e9af";
}
.icon-camera-outline:before {
  content: "\e9b0";
}
.icon-upload-outline:before {
  content: "\e9b1";
}
.icon-support:before {
  content: "\e9b2";
}
.icon-scissors-outline:before {
  content: "\e9b3";
}
.icon-refresh-outline:before {
  content: "\e9b4";
}
.icon-info-large-outline:before {
  content: "\e9b5";
}
.icon-eject-outline:before {
  content: "\e9b6";
}
.icon-download-outline:before {
  content: "\e9b7";
}
.icon-battery-mid:before {
  content: "\e9b8";
}
.icon-battery-low:before {
  content: "\e9b9";
}
.icon-battery-high:before {
  content: "\e9ba";
}
.icon-zoom-outline:before {
  content: "\e9bb";
}
.icon-zoom-out-outline:before {
  content: "\e9bc";
}
.icon-zoom-in-outline:before {
  content: "\e9bd";
}
.icon-tag:before {
  content: "\e9be";
}
.icon-tabs-outline:before {
  content: "\e9bf";
}
.icon-pin-outline:before {
  content: "\e9c0";
}
.icon-message-typing:before {
  content: "\e9c1";
}
.icon-directions:before {
  content: "\e9c2";
}
.icon-battery-full:before {
  content: "\e9c3";
}
.icon-battery-charge:before {
  content: "\e9c4";
}
.icon-pipette:before {
  content: "\e9c5";
}
.icon-pencil:before {
  content: "\e9c6";
}
.icon-folder:before {
  content: "\e9c7";
}
.icon-folder-delete:before {
  content: "\e9c8";
}
.icon-folder-add:before {
  content: "\e9c9";
}
.icon-edit:before {
  content: "\e9ca";
}
.icon-document:before {
  content: "\e9cb";
}
.icon-document-delete:before {
  content: "\e9cc";
}
.icon-document-add:before {
  content: "\e9cd";
}
.icon-brush:before {
  content: "\e9ce";
}
.icon-thumbs-up:before {
  content: "\e9cf";
}
.icon-thumbs-down:before {
  content: "\e9d0";
}
.icon-pen:before {
  content: "\e9d1";
}
.icon-sort-numerically-outline:before {
  content: "\e9d2";
}
.icon-sort-alphabetically-outline:before {
  content: "\e9d3";
}
.icon-social-last-fm-circular:before {
  content: "\e9d4";
}
.icon-social-github-circular:before {
  content: "\e9d5";
}
.icon-compass:before {
  content: "\e9d6";
}
.icon-bookmark:before {
  content: "\e9d7";
}
.icon-input-checked-outline:before {
  content: "\e9d8";
}
.icon-code-outline:before {
  content: "\e9d9";
}
.icon-calender-outline:before {
  content: "\e9da";
}
.icon-business-card:before {
  content: "\e9db";
}
.icon-arrow-up:before {
  content: "\e9dc";
}
.icon-arrow-sync-outline:before {
  content: "\e9dd";
}
.icon-arrow-right:before {
  content: "\e9de";
}
.icon-arrow-repeat-outline:before {
  content: "\e9df";
}
.icon-arrow-loop-outline:before {
  content: "\e9e0";
}
.icon-arrow-left:before {
  content: "\e9e1";
}
.icon-flow-switch:before {
  content: "\e9e2";
}
.icon-flow-parallel:before {
  content: "\e9e3";
}
.icon-flow-merge:before {
  content: "\e9e4";
}
.icon-document-text:before {
  content: "\e9e5";
}
.icon-clipboard:before {
  content: "\e9e6";
}
.icon-calculator:before {
  content: "\e9e7";
}
.icon-arrow-minimise-outline:before {
  content: "\e9e8";
}
.icon-arrow-maximise-outline:before {
  content: "\e9e9";
}
.icon-arrow-down:before {
  content: "\e9ea";
}
.icon-gift:before {
  content: "\e9eb";
}
.icon-film:before {
  content: "\e9ec";
}
.icon-database:before {
  content: "\e9ed";
}
.icon-bell:before {
  content: "\e9ee";
}
.icon-anchor-outline:before {
  content: "\e9ef";
}
.icon-adjust-contrast:before {
  content: "\e9f0";
}
.icon-world-outline:before {
  content: "\e9f1";
}
.icon-shopping-bag:before {
  content: "\e9f2";
}
.icon-power-outline:before {
  content: "\e9f3";
}
.icon-notes-outline:before {
  content: "\e9f4";
}
.icon-device-tablet:before {
  content: "\e9f5";
}
.icon-device-phone:before {
  content: "\e9f6";
}
.icon-device-laptop:before {
  content: "\e9f7";
}
.icon-device-desktop:before {
  content: "\e9f8";
}
.icon-briefcase:before {
  content: "\e9f9";
}
.icon-stopwatch:before {
  content: "\e9fa";
}
.icon-spanner-outline:before {
  content: "\e9fb";
}
.icon-puzzle-outline:before {
  content: "\e9fc";
}
.icon-printer:before {
  content: "\e9fd";
}
.icon-pi-outline:before {
  content: "\e9fe";
}
.icon-lightbulb:before {
  content: "\e9ff";
}
.icon-flag-outline:before {
  content: "\ea00";
}
.icon-contacts:before {
  content: "\ea01";
}
.icon-archive:before {
  content: "\ea02";
}
.icon-weather-stormy:before {
  content: "\ea03";
}
.icon-weather-shower:before {
  content: "\ea04";
}
.icon-weather-partly-sunny:before {
  content: "\ea05";
}
.icon-weather-downpour:before {
  content: "\ea06";
}
.icon-weather-cloudy:before {
  content: "\ea07";
}
.icon-plane-outline:before {
  content: "\ea08";
}
.icon-phone-outline:before {
  content: "\ea09";
}
.icon-microphone-outline:before {
  content: "\ea0a";
}
.icon-weather-windy:before {
  content: "\ea0b";
}
.icon-weather-windy-cloudy:before {
  content: "\ea0c";
}
.icon-weather-sunny:before {
  content: "\ea0d";
}
.icon-weather-snow:before {
  content: "\ea0e";
}
.icon-weather-night:before {
  content: "\ea0f";
}
.icon-media-stop-outline:before {
  content: "\ea10";
}
.icon-media-rewind-outline:before {
  content: "\ea11";
}
.icon-media-record-outline:before {
  content: "\ea12";
}
.icon-media-play-outline:before {
  content: "\ea13";
}
.icon-media-fast-forward-outline:before {
  content: "\ea14";
}
.icon-media-eject-outline:before {
  content: "\ea15";
}
.icon-wine:before {
  content: "\ea16";
}
.icon-waves-outline:before {
  content: "\ea17";
}
.icon-ticket:before {
  content: "\ea18";
}
.icon-tags:before {
  content: "\ea19";
}
.icon-plug:before {
  content: "\ea1a";
}
.icon-headphones:before {
  content: "\ea1b";
}
.icon-credit-card:before {
  content: "\ea1c";
}
.icon-coffee:before {
  content: "\ea1d";
}
.icon-book:before {
  content: "\ea1e";
}
.icon-beer:before {
  content: "\ea1f";
}
.icon-volume:before {
  content: "\ea20";
}
.icon-volume-up:before {
  content: "\ea21";
}
.icon-volume-mute:before {
  content: "\ea22";
}
.icon-volume-down:before {
  content: "\ea23";
}
.icon-social-vimeo-circular:before {
  content: "\ea24";
}
.icon-social-twitter-circular:before {
  content: "\ea25";
}
.icon-social-pinterest-circular:before {
  content: "\ea26";
}
.icon-social-linkedin-circular:before {
  content: "\ea27";
}
.icon-social-facebook-circular:before {
  content: "\ea28";
}
.icon-social-dribbble-circular:before {
  content: "\ea29";
}
.icon-tree:before {
  content: "\ea2a";
}
.icon-thermometer:before {
  content: "\ea2b";
}
.icon-social-tumbler-circular:before {
  content: "\ea2c";
}
.icon-social-skype-outline:before {
  content: "\ea2d";
}
.icon-social-flickr-circular:before {
  content: "\ea2e";
}
.icon-social-at-circular:before {
  content: "\ea2f";
}
.icon-shopping-cart:before {
  content: "\ea30";
}
.icon-messages:before {
  content: "\ea31";
}
.icon-leaf:before {
  content: "\ea32";
}
.icon-feather:before {
  content: "\ea33";
}
