@import "../../design-system/styles.scss";

.organizer {
  display: grid;
  grid-template-rows: 15% auto;
  justify-items: center;
  top: 60px;
  min-height: calc(100vh - 60px);
  background-color: $white;
  margin-top: 60px;
  margin-bottom: 80px;

  &__nav {
    background-color: $color-gray-2;
    align-items: center;
    margin: 10px 0px;
    border: 1px solid $color-gray-4;
    height: 60px;
    display: grid;
    grid-template-columns: repeat(4, 200px);
    align-items: center;
    justify-content: center;
    border-radius: 15px;

    &-item {
      // display: flex;
      // justify-content: center;
      // align-items: center;

      label {
        padding: 0 15px;
        height: 60px;
        font-family: $roboto;
        color: $dark-blue;
        font-weight: bold;
        font-size: $font-size-normal;
        line-height: 21px;
        display: flex;
        align-items: center;
        border-radius: 15px;
        cursor: pointer;
        text-align: center;
        justify-content: center;

        &:hover {
          background-color: $dark-blue;
          color: $color-gray-2;
        }
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
    width: 70vw;
  }
}

@media only screen and (max-width: 480px) {
  .organizer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25vh auto;
    margin-top: 0;

    &__nav {
      border: none;
      background-color: $white;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-column-gap: 10px;

      .navuser-1 {
        grid-column: 1;
        grid-row: 1;
      }

      .navuser-2 {
        grid-column: 2;
        grid-row: 1;
      }

      .navuser-3 {
        grid-column: 1;
        grid-row: 2;
      }

      .navuser-4 {
        grid-column: 2;
        grid-row: 2;
      }

      label {
        background-color: $dark-blue;
        color: $color-gray-2;
        text-align: center;
        margin-bottom: 20px;
      }
    }

    &__content {
      width: 100vw;

      .EventCardUser {
        width: 90%;
      }
    }
  }
}

@media only screen and (max-width: 740px) and (orientation: landscape) {
  .organizer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25vh auto;
    margin-top: 0;

    &__nav {
      border: none;
      background-color: $white;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 10px;

      .navuser-1 {
        grid-column: 1;
        grid-row: 1;
      }

      .navuser-2 {
        grid-column: 2;
        grid-row: 1;
      }

      .navuser-3 {
        grid-column: 3;
        grid-row: 1;
      }

      .navuser-4 {
        grid-column: 4;
        grid-row: 1;
      }

      label {
        background-color: $dark-blue;
        color: $color-gray-2;
        text-align: center;
        margin-bottom: 20px;
      }
    }

    &__content {
      width: 100vw;

      .EventCardUser {
        width: 95%;
      }
    }
  }
}
