@import "../../design-system/styles.scss";

.Paypal {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $dark-blue;
  width: 90vw;
  margin-right: 0;

  &__title {
    margin-bottom: 30px;
  }
}
