.PublicHome {
  // position: relative;
  top: 60px;
  min-height: calc(100vh - 60px);
  display: grid;
  grid-template-rows: auto auto;
  justify-content: center;
  margin-bottom: 60px;
  margin-top: 60px;
  // z-index: -1;
  // position: relative;

  &__searchBar {
    width: 100vw;
    // height: 80%;
    // padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    &-title {
      font-weight: bold;
      // font-style: italic;
      font-size: 26px;
      color: #031e30;
      margin-bottom: 20px;
    }
  }

  &__carousel {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    &-item {
      max-width: 80vw;
      margin: auto;
    }
  }
}

@media only screen and (max-width: 480px) {
  .PublicHome {
    // width: 90vw;
  }
}
