@import "../../design-system/styles.scss";

.SponsorHome {
  min-height: calc(100vh - 60px);
  margin-top: 100px;
  margin-bottom: 20px;
  display: grid;
  width: 100vw;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;

  &__title {
    margin-bottom: 30px;
    font-size: 22px;
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  .SponsorHome {
    margin: 40px 0 20px 0;
    width: 95vw;
  }
}

@media only screen and (max-width: 740px) and (orientation: landscape) {
  .SponsorHome {
    margin: 40px 0 20px 0;
    width: 95vw;
  }
}
