// Design System Imports

// Tokens index
@import "./00_tokens/__index.scss";
// Atoms index
@import "./01_atoms/__index.scss";

// Global Styles
* {
  text-decoration: none;
  padding: 0;
  margin: 0;
}
body {
  background-color: $white;
}
