// @font-face {
//   font-family: "icomoon";
//   src: url("../../icons/icomoon.eot");
//   font-weight: normal;
//   font-style: normal;
//   font-display: block;
// }

// [class^='icon-'],
// [class*=' icon-'] {
//     /* use !important to prevent issues with browser extensions that change fonts */
//     font-family: 'icomoon' !important;
//     speak: none;
//     font-style: normal;
//     font-weight: normal;
//     font-variant: normal;
//     text-transform: none;
//     line-height: 1;

//     /* Better Font Rendering =========== */
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
// }

// .icon-home3:before {
//     content: '\e902';
// }
// .icon-image:before {
//     content: '\e90d';
// }
// .icon-images:before {
//     content: '\e90e';
// }
// .icon-phone:before {
//     content: '\e942';
// }
// .icon-address-book:before {
//     content: '\e944';
// }
// .icon-location:before {
//     content: '\e947';
// }
// .icon-location2:before {
//     content: '\e948';
// }
// .icon-clock:before {
//     content: '\e94e';
// }
// .icon-clock2:before {
//     content: '\e94f';
// }
// .icon-calendar:before {
//     content: '\e953';
// }
// .icon-bubble:before {
//     content: '\e96b';
// }
// .icon-bubbles:before {
//     content: '\e96c';
// }
// .icon-user:before {
//     content: '\e971';
// }
// .icon-equalizer:before {
//     content: '\e992';
// }
// .icon-equalizer2:before {
//     content: '\e993';
// }
// .icon-cog:before {
//     content: '\e994';
// }
// .icon-bin:before {
//     content: '\e9ac';
// }
// .icon-bin2:before {
//     content: '\e9ad';
// }
// .icon-menu:before {
//     content: '\e9bd';
// }
// .icon-sphere:before {
//     content: '\e9c9';
// }
// .icon-plus:before {
//     content: '\ea0a';
// }
// .icon-minus:before {
//     content: '\ea0b';
// }
// .icon-cross:before {
//     content: '\ea0f';
// }
// .icon-checkmark:before {
//     content: '\ea10';
// }
// .icon-share2:before {
//     content: '\ea82';
// }
// .icon-paypal:before {
//     content: '\ead8';
// }
