@import "../00_tokens/_colors.scss";
@import "../00_tokens/_sizes.scss";

@mixin logo($color1, $color2) {
  font-family: $roboto;
  font-weight: 900;
  font-style: italic;
  font-size: $size-logo-text;
  color: $color2;
  strong {
    color: $color1;
  }
}
