@import "../../../design-system/styles.scss";

.ModelsHome {
  min-height: calc(100vh - 60px);
  margin-top: 80px;
  display: grid;
  grid-template-rows: 60px 60px 1fr;
  grid-template-columns: 1fr;
  justify-content: start;
  align-items: center;
  // border: 1.5px solid $color-gray-4;
  // border-radius: 15px;
  // width: 100vw;
  // padding: 40px;
  margin-bottom: 20px;
  background-color: $white;

  &__title {
    grid-row: 1;
    color: $dark-blue;
    font-size: 24px;
    font-weight: 900;
    display: flex;
    justify-content: center;
  }

  &__create {
    grid-row: 2;
    display: flex;
    justify-content: center;
    // width: 100%;

    .btn-newlevel {
      color: $white;
      background-color: $strong-yellow;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      width: 30vw;
      height: 50px;
      border: 0;
      border-radius: 5px;
      outline: none;

      &:hover {
        background-color: #faa525;
      }
    }
  }

  &__models {
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    &-p {
      color: $color-gray-6;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 480px) {
  .ModelsHome {
    &__create {
      .btn-newlevel {
        width: 80vw;
      }
    }
  }
}

@media only screen and (max-width: 740px) and (orientation: landscape) {
  .ModelsHome {
    &__create {
      .btn-newlevel {
        width: 60vw;
      }
    }
  }
}
