/* * {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.chat-box {
    width: 375px;
    max-height: 100vh;
    background: #ffffff;
    padding: 0px;
    margin: 20px auto;
    border: 1px solid #e6e6e5;

    transform: translateY(-110%);
    opacity: 0;
    left: -375px;
    transition: all 0.5s ease-in-out;
    transform: translateY(-105%);
    box-shadow: 2px 3px 10px 0 rgba(90, 7, 7, 0.2);
}

.chat-title {
    width: 100%;
    text-align: center;
    color: #031e30;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding: 12px ;
}

.chat-logs {
    padding: 10px;
    width: 100%;
    max-height: 75vh;
    background: #fff;
    overflow-x: hidden;
    overflow-y: scroll;
}

.chat {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-bottom: 10px;
}

.chat .user-photo {
    width: 50px;
    height: 50px;
    background: #c5c5c5;
    border-radius: 50%;
    overflow: hidden;
}

.chat .user-photo img {
    width: 100%;
    object-fit: cover;
}

.chat .chat-message {
    width: 70%;
    padding: 10px;
    margin: 5px 10px 0;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.entry .chat-message {
    background: #f5f6f7;
    color: #212121;
}

.chat-logs .out {
    justify-content: flex-end;
}

.out .chat-message {
    flex: end;
    background: #031e30;
    color: #f6f7f8;
    order: -1;
}

.chat-form {
    background: #ffffff;
    max-width: 100%;
    height: 50px;
    margin: 5px 12px;
    display: flex;
    align-items: flex-start;
    border: 1px solid #d9d9d8;
    border-radius: 25px;
}

.chat-form textarea {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    resize: none;
    padding: 10px;
    font-size: 18px;
    border: none;
}

.chat-form textarea:focus {
    background: #fff;
    outline: none;
}

.chat-form textarea::-webkit-scrollbar {
    width: 10px;
}

.chat-form textarea::-webkit-thumb {
    border-radius: 5px;
}

.chat-form button {
    width: 48px;
    height: 48px;
    background: #ee9e26;
    font-size: 30px;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    outline: none;

    -webkit-transition: background .2s ease;
    -moz-transition: background .2s ease;
    -o-transition: background .2s ease;
}

.chat-form button:hover {
    background: #ffffff;
}

.chat-form img {
    width: 48px;
    height: 48px;
}

/* BUTTON */
/* .container, .button, .chat-box{
    position: absolute;
}

.container {
    margin: auto;
    top: 90%;
    left: 95%;
}

#toggle {
    display: none;
}

.button{
    z-index: 999;
    width: 43px;
    height: 43px;
    background: #f28482;
    border-radius: 100%;
    transition: all 0.5s ease-in-out;
    box-shadow: 1px 3px 10px 0 rgba(0,0,0,0.3);
    cursor: pointer;
} */

/* Lineas boton */
/* .button:before{
    position: absolute;
    top: 20px;
    left: 9px;
    content: '';
    width: 25px;
    height: 2px;
    background: #fff;
    transform: rotate(90deg);
}

.button:after{
    position: absolute;
    top: 20px;
    left: 9px;
    content: '';
    width: 25px;
    height: 2px;
    background: #fff;
} /* Lineas boton */

/* #toggle:checked ~ .chat-box{
    opacity: 1;
    transform: translateY(-105%);
}

#toggle:checked ~ .button{ */
/*     transform: rotate(155deg); */
/* box-shadow: 0 0 0 0 transparent;
}  */
