/* body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
h1,
p {
    margin: 0;
    padding: 0;
}
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.hero {
    background: #f6f7f8;
    color: black;
    padding: 32px 15px;
    display: grid;
    grid-template-columns: minmax(auto, 1024px);
    justify-content: center;
    border-radius: 5px;
}
.hero-container {
    display: grid;
    grid-template-columns: 200px 1fr 1fr 80px;
    grid-template-areas:
        'image description description .'
        'image description description buttons'
        'cards cards cards cards';

    grid-gap: 10px;
}
.badge {
    grid-area: image;
    display: flex;
    align-items: center;
    justify-content: center;
}
.badge img {
    max-width: 200px;
    border-radius: 100px;
}
.event-description {
    grid-area: description;
    display: flex;
    flex-direction: column;
}

.main-buttons {
    grid-area: buttons;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.sponsor-cards {
    grid-area: cards;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.main-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main-buttons button {
    width: 80px;
    height: 30px;
    background-color: #ee9e26;
    border: none;
    font-size: 14px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.main-buttons button:hover {
    color: #222;
}

.sponsor-cards article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */
