/* body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
header {
    height: 60px;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    background-color: #00153e;
}
header nav {
    display: grid;
    height: 40px;
    align-content: center;
}

nav .nav-logo-container {
    height: inherit;
    padding: 0 50px;
}

nav .nav-logo-container h1 {
    margin: 0;
    font-weight: 900;
    font-style: italic;
    font-size: 26px;
    color: #ee9e26;
}

nav .nav-logo-container strong {
    color: #f6f7f8;
}

.main-form {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    min-height: calc(100vh - 120px);
    background-color: white;
    justify-items: center;
    align-items: center;
    background-color: #f5f8ff;
}

.form {
    border-radius: 5px;
    grid-column: 2;
    display: grid;
    grid-template: 1fr 5fr / 1fr;
    justify-items: center;
    width: 380px;
    background-color: #f7f7f7;
}
main section .form-selected {
    display: grid;
    align-items: center;
    grid-row: 1fr;
    width: 100%;
}

main section .form-selected ul {
    display: flex;
    width: 100%;
    justify-content: center;
}

main section .form-selected ul a {
    margin: 0px 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

main section .form-selected ul a:hover {
    border-bottom: 2px solid #ee9e26;
}

main section .login-form,
.register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    width: 70%;
    grid-row: 2;
}

.login-form,
.register-form input {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: black;
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #a2a2a2;
    outline: none;
    background: transparent;
}

.login-form,
.register-form button {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    width: 100%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin-top: 50px;
    background: #ee9e26;
    border: 0;
    border-radius: 4px;
    outline: none;
    color: white;
}

main section .register-form .ueser-rol {
    display: flex;
    width: 100%;
    flex-direction: row;
    font-size: 12px;
    justify-content: space-evenly;
    align-items: center;
    color: #757575;
}
main section .register-form .ueser-rol input {
    margin: 0;
    padding: 0;
    border: none;
    width: 10px;
}
main section .register-form .ueser-rol span {
    margin: 0;
    padding: 0;
    border: none;
}
main section .register-form .ueser-rol div {
    display: flex;
}
main section .register-form p {
    font-size: 12px;
    color: #757575;
}
.login-form a {
    margin: 16px 0;
    font-size: 12px;
    color: #72deff;
}
footer {
    height: 60px;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    background-color: #00153e;
}
footer a {
    color: #f6f7f8;
    padding: 0 50px;
}
@media (max-width: 786px) {
    footer {
        display: none;
    }
    header {
        position: absolute;
        height: 60px;
        width: 100%;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        z-index: 1;
        padding-top: 80px;
    }
    nav .nav-logo-container h1 {
        color: #031e30;
    }
    nav .nav-logo-container strong {
        color: #031e30;
    }
    .main-form {
        grid-template-columns: 1fr;
    }
    .form {
        height: 100vh;
        width: 100%;
        grid-column: 1;
    }
} */
