/* body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
h1 {
    margin: 0;
    padding: 0;
}

header {
    height: 60px;
    width: 100%;
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    background-color: #00153e;
}

header nav {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 100%;
    height: inherit;
}

header nav .nav-logo-container h1 {
    margin: 0;
    font-weight: 900;
    font-style: italic;
    font-size: 26px;
    color: #ee9e26;
}

header nav .nav-logo-container strong {
    color: #f6f7f8;
}

header nav .nav-logo-container {
    padding: 0 50px;
}

header nav .logIn-singIn {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
header nav .logIn-singIn a {
    font-weight: bold;
    font-size: 16px;
    color: #f6f7f8;
}
header nav .logIn-singIn a:hover {
    border-bottom: 2px solid #ee9e26;
}
header .header-icons-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
header .header-icons-container div {
    padding-right: 50px;
}
header .icons span {
    color: #ee9e26;
}

main {
    display: grid;
    justify-items: center;
    align-items: center;
    min-height: calc(100vh - 120px);
    background-color: #f5f8ff;
}
main .hero {
    width: 80%;
    height: 80%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
main .hero h1 {
    font-weight: bold;
    font-style: italic;
    font-size: 26px;
    color: #031e30;
}
main .main-input {
    width: 530px;
}

main .main-input-container {
    width: 525px;
    border-radius: 100px;
    border: solid 1px #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

main .main-input input {
    width: 450px;
    height: 40px;
    border: none;
    outline: none;
}

main .main-input-container:hover {
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;
}

main .main-input .search-icon {
    background-image: url(' https://cdn0.iconfinder.com/data/icons/google-material-design-3-0/48/ic_search_48px-512.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.45;
    width: 18px;
    height: 18px;
    object-fit: cover;
}
main .main-buttons {
    width: 530px;
    display: flex;
    justify-content: center;
}
main .main-buttons div {
    display: inline-block;
}
main .main-buttons button {
    height: 30px;
    background-color: #ee9e26;
    border: none;
    font-size: 14px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    padding: 0 15px;
    margin-right: 15px;
    cursor: pointer;
}
main .main-buttons button:hover {
    color: #222;
}

main .events-container {
    padding: 0 50px 40px;
}
main .events-container h3 {
    border-bottom: 1px solid #cdd2da;
    padding-bottom: 20px;
    text-align: center;
}

main .events-grid-container {
    max-width: 980px;
    margin: auto;
}

main .events-container .event-container {
    display: inline-block;
    padding-left: 10px;
    max-width: 30%;
    margin-bottom: 50px;
    text-align: center;
}
main .events-container .event-container p {
    font-size: 14px;
    margin-bottom: 35px;
}
main .events-container .event-container .title {
    font-size: 16px;
    font-weight: bold;
    color: #031e30;
}
main .events-container .event-container img {
    width: 100%;
}
main .events-container .events-container div {
    width: 100%;
}

main .events-container .event-container button {
    height: 30px;
    width: 100%;
    background-color: #ee9e26;
    border: none;
    font-size: 12px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
main .events-container .event-container button:hover {
    color: #222;
}
footer {
    height: 60px;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    background-color: #00153e;
}
footer a {
    color: #f6f7f8;
    padding: 0 50px;
}

@media (max-width: 786px) {
    body {
        width: fit-content;
    }
    main .events-container .event-container {
        max-width: 45%;
    }
}
@media (max-width: 670px) {
    header nav .nav-logo-container h1 {
        font-size: 15px;
    }
    header nav .logIn-singIn a {
        font-size: 12px;
    }
    main .events-container .event-container {
        max-width: 95%;
    }
}
@media (max-width: 650px) {
    header nav .nav-logo-container h1 {
        font-size: 15px;
    }
    header nav .logIn-singIn a {
        font-size: 12px;
    }
    main .events-container .event-container {
        max-width: 95%;
    }
} */
