/* :root {
    first-color: #031e30;
    roboto: 'Roboto', sans-serif;
}

body {
    margin: 0;
}



.open-event-card {
    min-width: 320px;
    max-width: 900px;
    margin: auto;
    background-color: #f6f7f8;
}

.open-event-card__container {
    display: block;
}

.open-event-card__img {
    margin: 0;
    width: 100%;
    height: 200px;

}

.open-event-card__img img{
    width: 100%;
    height: inherit;
    object-fit: cover;
}

.open-event-card__info {
    margin: 0 16px 0 16px;
}

.open-event-card__title {
    font-family: roboto;
    font-size: 14px;
    font-weight: 500;
    color: first-color;
    margin: 8px 0 8px 0;
}

.open-event-card__tag,
.open-event-card__organizer
{
    font-weight: 600;
}

.open-event-card__tag,
.open-event-card__date,
.open-event-card__place,
.open-event-card__hour,
.open-event-card__capacity,
.open-event-card__organizer,
.open-event-card__text
{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    margin: 0;
}

.open-event-card__details-title {
    font-family: roboto;
    font-size: 14px;
    font-weight: 500;
    color: first-color;
    margin: 32px 16px 16px 16px;
}

.open-event-card__text {
    margin: 16px;
}

.margin {
    margin:  4px 16px 4px 16px;
}

.icons {
    font-size: 16px;
    color: #757575;
}

.space {
    margin: 10px 0 10px 0;
 }




.sponsor-modes__container {
    margin: 64px 0px 24px 0px;
}

.sponsor-modes__title {
    font-family: roboto;
    font-size: 22px;
    color: #031e30;
    margin: 0 16px;
    text-align: center;
}

.sponsor-modes__cards {
    display: flex;
    justify-content: center;
}

.sponsor-modes__card {
    margin: 16px;
    max-width: 390px;
    border: 1px solid #c5c4c4;
    border-radius: 7px;
    padding: 32px 8px;
    justify-content: center;
}

.sponsor-modes__type,
.sponsor-modes__price,
.sponsor-modes__frequency {
    font-family: roboto;
    font-weight: bold;
    text-align: center;
}

.sponsor-modes__type {
    font-size: 20px;
    margin: 0;
    color: #031e30;
}

.sponsor-modes__price {
    font-size: 32px;
    margin: 20px 0 0;
    color: #031e30;
}

.sponsor-modes__frequency {
    margin: 0;
    color: #a2a2a2;
}

.sponsor-modes__description {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    margin: 20px 0 20px 0;
}

.sponsor-modes__know-more {
    text-decoration: none;
    display: block;
    text-align: center;
    color: #56ccf2;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.sponsor-modes__button {
    color: #f6f7f8;
    background-color: #ee9e26;
    border-radius: 5px;
    border: none;
    padding: 10px;
    display: block;
    margin: 20px auto 0;
    font-family: roboto;
    font-weight: bold;
    font-size: 12px;
}




@media (min-width: 475px) {
    .open-event-card__img{
        height: 250px;
    }
}

@media (min-width: 600px) {
    .open-event-card__container {
        display: flex;
    }
    .open-event-card__img{
        max-width: 60%;

    }
    .open-event-card__img img{
        min-width: 100%;
    }
    .open-event-card__info {
        min-width: 40%;
        margin: auto 16px;
        border-radius: 7px;
        padding: 0 16px;
        background-color: #ffffff;
    }
}
@media (min-width: 768px) {
    .open-event-card__title,
    .open-event-card__details-title {
        font-size: 20px;
    }
    
    .open-event-card__tag,
    .open-event-card__date,
    .open-event-card__place,
    .open-event-card__hour,
    .open-event-card__capacity,
    .open-event-card__organizer,
    .open-event-card__text

    {
        font-size: 14px;
    }
}


@media (max-width: 670px) {

    .sponsor-modes__cards {
        flex-wrap: wrap;
    }


}


@media (min-width: 768px) {
    .sponsor-modes__description {
        font-size: 14px;
    }
    .sponsor-modes__know-more {
        font-size: 14px;
    }

    .sponsor-modes__button {
        font-size: 16px;
    }
} */
