/* body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
ul,
li {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 0;
}
.wrapper {
    display: grid;
}

header {
    height: 60px;
    background-color: #00153e;
}
.header-container {
    height: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'title userNav';
    align-items: center;
}
header .nav-logo-container h1 {
    grid-area: title;
    font-weight: 900;
    font-style: italic;
    font-size: 26px;
    color: #ee9e26;
}

header .nav-logo-container strong {
    color: #f6f7f8;
}

header .nav-logo-container {
    padding: 0 50px;
}

header .userNavBar {
    grid-area: userNav;
    display: flex;
    padding-right: 50px;
    justify-content: flex-end;
}
header .userNavBar a {
    display: flex;
    align-items: center;
    height: 60px;
    font-weight: bold;
    font-size: 16px;
    margin-left: 15px;
    color: #f6f7f8;
}
header .userNavBar a:hover {
    border-bottom: 3px solid #ee9e26;
    color: #ee9e26;
}

.events-nav-bar {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
    height: 35px;
}
.events-nav-bar ul {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    height: inherit;
}
.events-nav-bar ul li {
    text-align: center;
    background-color: #f6f7f8;
    height: inherit;
    width: 150px;
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.events-nav-bar ul li a {
    height: inherit;
    display: flex;
    align-items: center;
    color: #757575;
    font-weight: bold;
}
.events-nav-bar ul li a:hover {
    cursor: pointer;
    color: white;
}
.events-nav-bar ul li:hover {
    cursor: pointer;
    background-color: #00153e;
}
main {
    display: grid;
    justify-items: center;
    padding: 50px;
}
main .main-input {
    width: 530px;
}

main .main-input-container {
    width: 525px;
    border-radius: 100px;
    border: solid 1px #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

main .main-input input {
    width: 450px;
    height: 40px;
    border: none;
    outline: none;
}

main .main-input-container:hover {
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;
}

main .main-input .search-icon {
    background-image: url(' https://cdn0.iconfinder.com/data/icons/google-material-design-3-0/48/ic_search_48px-512.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.45;
    width: 18px;
    height: 18px;
    object-fit: cover;
}
main .create-event {
    margin-top: 15px;
}
main .create-event button {
    height: 30px;
    background-color: #ee9e26;
    border: none;
    font-size: 12px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
main .events-container {
    padding: 0 50px 40px;
}
main .events-container h3 {
    border-bottom: 1px solid #cdd2da;
    padding-bottom: 20px;
    text-align: center;
}

main .events-grid-container {
    max-width: 980px;
    margin: auto;
}

main .event-container {
    display: grid;
    grid-template: 1fr / 280px 1fr;
    grid-template-areas: 'image description';
    align-items: center;
    grid-gap: 10px;
    margin-bottom: 10px;
}

main .event-container img {
    grid-area: image;
    width: 100%;
    border-radius: 5px;
}
main .event-description {
    padding: 15px;
    grid-area: description;
}
main .event-description p {
    margin: 5px 0;
    font-size: 12px;
}
main .event-description .event-title {
    font-size: 20px;
    font-weight: bold;
}
main .event-description .event-date {
    font-size: 15px;
    font-weight: bold;
    color: #ee9e26;
}
main .event-description div {
    display: flex;
    justify-content: center;
    margin: 5px 0px;
}

main .event-description button {
    height: 30px;
    width: 30%;
    background-color: #ee9e26;
    border: none;
    font-size: 12px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    height: 60px;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    background-color: #00153e;
}
footer a {
    color: #f6f7f8;
    padding: 0 50px;
}

@media (max-width: 786px) {
    main .event-description button {
        width: 100%;
    }
    header {
        background-color: #f6f7f8;
    }
    .events-nav-bar {
        margin: 0;
    }
    header .userNavBar {
        display: none;
    }
    .header-container {
        grid-template-columns: 1fr;
        grid-template-areas: 'title';
        justify-items: center;
    }
    header .nav-logo-container h1 {
        color: #00153e;
    }

    header .nav-logo-container strong {
        color: #00153e;
    }

    header .nav-logo-container {
        padding: 0;
    }
    .events-nav-bar ul {
        width: 100%;
        background-color: #f6f7f8;
    }
}

@media (max-width: 720px) {
    main .event-container {
        grid-template-rows: 1fr 100px;
        grid-template-areas:
            'image'
            'description';
    }
    main .event-container .event-info {
        display: none;
    }
    main .event-description {
        text-align: center;
    }
}
@media (max-width: 440px) {
    header .nav-logo-container h1 {
        font-size: 25px;
    }
    .events-nav-bar {
        font-size: 20px;
        height: 75px;
    }
    main .main-input input {
        font-size: 20px;
    }
    main .event-description {
        padding: 0px;
    }
    main .event-description button {
        font-size: 20px;
    }
    main .event-description .event-title {
        font-size: 25px;
    }
    main .event-description .event-date {
        font-size: 20px;
    }
} */
