@import "../design-system/styles.scss";

body {
  font-family: $roboto;
  padding: 0;
  margin: 0;
  background-color: $white;
}
a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
main {
  display: grid;
  justify-items: center;
  align-items: center;
  // min-height: calc(100vh - 60px);
  // position: relative;
  // z-index: 0;
}
