.Login {
  min-height: calc(100vh - 60px);
  border-radius: 5px;
  display: grid;
  justify-items: center;
  align-items: center;

  &__form {
    display: inherit;
    width: 380px;
    min-height: 300px;
    background-color: white;
    border-radius: 10px;
    border: solid 1px rgb(224, 224, 224);
    padding: 20px;

    input {
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      color: black;
      width: 100%;
      padding: 10px 0;
      margin: 5px 0;
      border-left: 0;
      border-right: 0;
      border-top: 0;
      border-bottom: 1px solid #a2a2a2;
      outline: none;
      background: transparent;
    }

    button {
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      font-size: 16px;
      width: 100%;
      padding: 10px 30px;
      cursor: pointer;
      display: block;
      margin-top: 50px;
      background-color: #ee9e26;
      border: 0;
      border-radius: 4px;
      outline: none;
      color: white;

      &:hover {
        background-color: #faa525;
      }
    }

    a {
      margin: 16px 0;
      font-size: 16px;
      color: #006381;
      text-align: center;
      cursor: pointer;

      &:hover {
        color: #00b9f1;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .Login {
    &__form {
      border: none;
      background-color: #f7f7f7;
      width: 300px;
    }
  }
}

@media only screen and (max-width: 740px) and (orientation: landscape) {
  .Login {
    &__form {
      border: none;
      background-color: #f7f7f7;
      width: 300px;
    }
  }
}
