// White
$white: #fdfdfd;

// Blue
$dark-blue: #031e30;

// Yellow
$strong-yellow: #ee9e26;

//Gray
$color-gray-1: #f8f7f9;
$color-gray-2: #e6e6e7;
$color-gray-3: #d9d9d8;
$color-gray-4: #c5c4c4;
$color-gray-5: #a2a2a2;
$color-gray-6: #757575;
$color-gray-7: #212121;

//Alternative
$color-approve: #1eb980;
$color-approve-hover: #2ae4a0;
$color-reject: #ff6859;
$color-reject-hover: #ff8377;

// $color-green: #316b5a;
// $color-red: #7f1818;
