// Typography

// Roboto Regular
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
// Roboto Medium
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
// Roboto Bold
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
// Roboto Bladk
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
// Roboto BLack Italic
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap");
// Open sans
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

// Typograhpy Variables
$roboto: "Roboto", sans-serif;
$open-sans: 'Open Sans', sans-serif;

